{% extends "base.html" %}
{% block content %}

<div class="ui stackable grid">

    <div class="row">
        <div class="column">
            <h4 class="ui top attached header">Get Live from Twitter by Topic</h4>
            <div class="ui bottom attached segment center">
                <form action="" method="post">
                    <div class="ui action fluid left icon input">
                        {% csrf_token %}
                        <i class="search icon"></i>
                        <input type="text" name="topic-live" placeholder="Search...">
                        <button type="submit" class="ui teal button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <h4 class="ui top attached header">Input Tweet and Analyze</h4>
            <div class="ui bottom attached segment">
                <form method="post">
                    {% csrf_token %}
                    <div class="ui action fluid left input">
                        <input type="text" name="topic" placeholder="Topic">
                        <input type="text" name="tweet" placeholder="Make a Tweet here....">
                        <button type="submit" class="ui teal button">Analyze</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if feature != None %}
    <div class="row">
        <div class="column">
            <div class="ui divided list attached">
                <div class="item">
                    {% if classify == 'positive' %}
                        <div class="ui large green horizontal label">{{ classify }}</div>
                    {% elif classify == 'negative' %}
                        <div class="ui large red horizontal label">{{ classify }}</div>
                    {% else %}
                        <div class="ui large horizontal label">{{ classify }}</div>
                    {% endif %}
                    {{ feature }} <br>
                    {{ probability }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if type != None %}
        <div class="row">
        <div class="column">
            <div class="ui divided list attached">
                {% for classify in data %}
                    <div class="item">
                        {% if classify.classify == 'positive' %}
                            <div class="ui large green horizontal label">{{ classify.classify }}</div>
                        {% elif classify.classify == 'negative' %}
                            <div class="ui large red horizontal label">{{ classify.classify }}</div>
                        {% else %}
                            <div class="ui large horizontal label">{{ classify.classify }}</div>
                        {% endif %}
                        {{ classify.tweet_text }} <br>
                        {{ classify.probability }}
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
    {% endif %}
</div>

{% endblock %}
