<div class="ui fixed menu">
    <div class="ui container">
        <a href="#" class="header item">
            Sentiment App NLTK
        </a>
        <a href="{% url 'sentiment_app.views.index' %}" class="item">Main</a>
        <a href="{% url 'sentiment_app.views.dataset' %}" class="item">Dataset</a>
        <a href="{% url 'sentiment_app.views.information' %}" class="item">Information</a>
{#        <a href="#" class="item">Detail</a>#}
{#        <a href="#" class="item">About</a>#}
    </div>
</div>
